.title_text {
    font-family: "Inknut Antiqua", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

.input-group {
  max-width: 1000px;
  margin: auto;
}

.form-control {
  border-color: rgb(40, 40, 40);
}

body {
	background: linear-gradient(-45deg, #c77878, #a7dac6, #dca9f3, #7479b4);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.btn-outline-secondary {
  border-color: rgb(40, 40, 40);
  color: rgb(85, 24, 177);
  background-color: white;
}

.btn-outline-secondary:hover {
  border-color: rgb(40, 40, 40);
  box-shadow: 0px 0px 20px rgb(85, 24, 177);
  background-color: rgb(85, 24, 177);
  color: white;
}

.btn-outline-inquire {
  border-color: rgb(40, 40, 40);
  color: rgb(47, 128, 78);
  background-color: white;
}

.btn-outline-inquire:hover {
  border-color: rgb(40, 40, 40);
  box-shadow: 0px 0px 20px rgb(47, 128, 78);
  background-color: rgb(47, 128, 78);
  color: white;
}

.rounded-box {
  border-radius: 15px;
  padding: 20px;
  color: #333;
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 5px 10px 5px;
}

.inquire {
  background: linear-gradient(135deg, #507426 0%, #217462 100%);
}

.query {
  /* background: linear-gradient(135deg, #572674 0%, #532174 100%); */
  background: #ecfcff;
}

.rounded-box h2, .rounded-box h3, .rounded-box p {
  color: #000000;
}

.rounded-box h4 {
  color: #202020;  
}

.inquire a {
  color: #000000;
}

.wand-icon {
  width: 40px;
  height: 40px;
}

.pagination-btn {
  background-color: #ecfcff;
}

.pagination-btn:hover {
  background-color: #c17fdf;
  border-style: solid;
  border-color: #000000;
}

.pagination-btn:disabled {
  background-color: #ecfcff;
  border-style: none;
  opacity: 0.5;
}